body{
    font: 20px Arial ,sans-serif ;
}
.navbar{
    background-color:#FBFCFC;
}
#quemsomos{
    background-color: green;
    color: white;
}
.margin{
    padding-top: 20px;
    padding-bottom: 20px;
}
.parceiros{
    background-color: #5DADE2;
}
.bg-footer{
    background-color: black;
}